body {
    margin: 0px;
    padding: 0px;
}

.top {
    display: flex;
    flex-flow: column wrap;
    height: 400px;
}

.block1 {
    background-color: #0000CD;
    flex: 100%;
    width: 25%;
    color: #fff;
    text-align: center;
}
.block {
    flex: 50%;
    width: 25%;
    color: #fff;
    text-align: center;

}
.block2 {
    background-color: #CD853F;
}
.block3 {
    background-color: #20B2AA;
}
.block4 {
    background-color: #00CED1;
    flex: 100%;
    width: 25%;
    color: #fff;
    text-align: center;
}
.block5 {
    background-color: #008080;
}
.block6 {
    background-color: #4682B4;
}
.block1 img {
    width: 300px;
    height: 350px;
}
.block2 img {
    width: 100px;
    height: 100px;
}
.block3 img {
    width: 100px;
    height: 100px;
}
.block4 img {
    width: 200px;
    height: 150px;
}
.block5 img {
    width: 100px;
    height: 100px;
}
.block6 img {
    width: 100px;
    height: 100px;
}
span {
font-weight: 700;
}