.knopka {
    display: inline-block;
}

.knopka [type="checkbox"] {
    display: none;
}

.knopka span {
    display: block;
    padding: 10px;
    border: 3px solid #FF0000;
    color: #FF0000;
}

.knopka :checked~span {
    color: #008000;
    background-color: #00FA9A;
    border: 3px solid #008000;
}

.check2:hover::after { 
 content: attr(data-title); 
 position: absolute;
font-size: 2px;
border: 2px solid #800080;
background: rgba(255,255,230,0.9);
font-family: 'Times New Roman', sans-serif;
font-size: 14px;
padding: 5px 10px;
border: 2px solid #800080;
left: 60px; top: 40px;
}
