a {
	margin-top: 20px;
	padding-left: 20px;
	font-size: 80px;
	color: #C0C0C0;
}

a:hover {
   color: #4169E1;
}

a:visited {
	color: rgb( 255, 0, 0);
}

a:visited:hover {
	color: rgb( 255, 0, 0, 0.7);}