body {
  margin: 0px;
  padding: 0px;
}

div {
  display: inline-block;
}

header {
margin: 0px;
bottom: 0px;
background-color: #D88A69;
height: 180px;
}

.block
{
display: inline-block;
vertical-align: text-top;

}
.search {
margin: 50px 0px 50px 10px;
}

img {
  width: 150px;
  height: 150px;
 }

.topmenu {
  list-style-type: none;
  padding: 5px;
  text-transform: uppercase;
  margin-left: 50px;
  margin-top: 50px;

}
.topmenu a {
  text-decoration: none;
  color: #8B0000;
}

.submenu {
  list-style-type: none;
}

.topmenu li ul {
display: none;
}

li:hover ul {
display: block; 
}
p{
  margin-left: 300px;
  font-size: 20px;
  color: #8B0000;
  font-weight: 500;
}
.topmenu>li {
  display: inline-block;
  position: relative;

}

.topmenu .submenu {
 position: absolute;
 margin-left: 0px;
 padding-left: 0px;
 margin-top: 5px;
}
