body {
margin: 0px;
padding: 0px;
height: 630px;
background-image:    linear-gradient(to top, rgba(0, 0, 0,  0.5), rgba(46, 18, 18, 0.6)), url(image/fons.jpg);
}

img {
padding-top: 30px;
padding-left: 30px;
width: 150px;
height: 30px;
margin-right: 8px;
}
.top {
height: 630px;
display: flex;
align-content: stretch;
flex-flow: column wrap;

}
.first {
width: 100%;
height: 100px;
display: flex;
justify-content: space-between;
	
}
.about {
color: #ffffff;
font-size: 17px;
font-weight: 700;
font-family: 'Roboto', Verdana;
text-transform: uppercase;
display: flex;
padding-left: 70px;

}

.contacts {
color: #ffffff;
font-size: 17px;
font-weight: 300;
font-family: 'Roboto', Verdana;
}
.contacts img {
width: 30px;
height: 30px;
padding: 0px;
padding-top: 30px;
}
p {
display: flex;
padding: 10px;
}
.kurs {
width: 100%;
text-align: center;
height: 150px;
	}

h1 {
color: #ffffff;
font-size: 40px;
font-family: 'Roboto', Verdana;
line-height: 1.05;
font-weight: 600;
}

h3 {
color: #ffffff;
font-size: 20px;
font-style: italic;
font-weight: 300;
font-family: 'Roboto', Verdana;
}

.aboutus {
color: #ffffff;
font-size: 18px;
font-family: 'Roboto',Verdana;
line-height: 1.55;
font-weight: 400;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
}
#firstimg {
width: 60px;
height: 120px;
margin-top: -10px;
}

#twoimg {
width: 60px;
height: 130px;
margin-top: -15px;
}
#threeimg {
width: 60px;
height: 120px;
margin-top: -10px;
}

.knopka {
color: #ffffff;
font-size: 18px;
font-family: 'Roboto',Verdana;
width: 100%;
padding-top: 40px;
display: flex;
justify-content: center;
}

.knopka p {
display: inline-block;
text-align: center;
}


input {
font-size: 18px;
font-family: "Roboto",Verdana;
padding: 8px 5px;
line-height: 1.55;
font-weight: 500;
border-width: 1px;
border-style: solid;
border-radius: 5px;
background-color: #e55;
border-color: #e55;
color: #ffffff;
}

input:hover {
background-color: #ffffff;
border-color: #e55;
color: #e55;
}
