body {
	margin: 0;
	padding: 0;
	width: 1520px;
	background: url(fonts/34.jpg) no-repeat; 
	background-size: 100%;
	height: 3000px;
}
h1 {
	margin: 0;
}
.text {
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	font-size: 64px;
	color: white;
	display: flex;
	justify-content: center;
	 text-shadow: 10px 10px 40px #BC8F8F;/*изменить*/

}
.cup img {
	width: 260px;
	height: 193px;
	padding: 7px;
	margin: 5px;
	border: 1px solid white;

}

.cups {
		margin-left: 50px;
}

.cup {
   display: inline-block;
}
.ingredient {
	float: left;
	flex-wrap: wrap;
}
.ingredient img {
 height: 50px;
 width: 50px;
 display: block;

}
.about {
	border: 1px solid white;
		height: 500px;
	width: 1100px;
	margin-left: 220px;
	margin-top: 50px;
	box-shadow: 10px 30px 40px #BC8F8F;
	background-color: #abb2a9;
	opacity: 0.7;
}

.about h1 {
	margin: 35px;

    }
