
body {
  margin: 0px;
  padding:0px;
}


.first {
 margin: 25px auto 25px auto; /*ЛИНИЯ 1-КОНТАКТЫ*/
  padding-left: 35px;
  padding-right: 35px;
  width: 1130px;
}

.first-line {
  display: inline-block;
  font: normal 13px 'Ubuntu';
  background: #ffffff;
  color: #777777;
  margin: 0px 25px 0px 0px;
}
  .log {
  color: #005db4; /*СДЕЛАТЬ ВИДЖЕТ ВХОДА--------------!!!!!!*/
  cursor: pointer;
  float: right;
  text-decoration: none;
  font: 13px 'Ubuntu';
}

/*--- ЛИНИЯ 2 МЕНЮ---------------------------------- */

.second-line {
  background-color: #1a1a1a;   /*черная линия*/
  margin: 25px auto 0px auto;
  padding-left: 35px;
  padding-right: 35px;
  width: 1130px;
  height: 80px;
}

.second-line img {   /*картинка gear*/
  float: left;
  }

.fa-search {  /*иконка поиска*/
color: white;
margin-left: -30px;
margin-top: 30px;
font-size: 40px; /* НЕ РАБОТАЕТ--------РАЗМЕР----------!!!!*/

}

.search { /*окно поиска*/
  border-radius: 2px;
  padding: 10px;
  height: auto;
  width: 140px;
  margin-top: 15px;
  margin-right: 0px;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  color: #ffffff;
}

.search-f {  /*форма* не работают стили слова search*/
  display: inline;
}
.search-f input:hover {
  background-color: #005db4;
  border-radius: 2px;
  border: 0px;
  
}

.search-f input:visited {
  width: 180px;
  border: 0px;
  background-color: #005db4;
}

/* ГОРИЗОНТАЛЬНОЕ МЕНЮ----------------------------------*/

.all-menu {        /*контейнер меню*/
display: inline-block;
margin-top: -16px;
padding-left: 80px;
}

.all-menu li {
display: inline-block;
padding-top: 25px;
padding-bottom: 30px;
margin-left: -4px;

  }
.all-menu li:hover {
  border-top: 5px solid #007aec;
}

.all-menu li:hover a {
  color: #777777;
}

.all-menu a {
text-decoration: none;
color: #cccccc;
font: 15px 'Ubuntu';
font-weight: 100;
}



.main-menu {      /*основное меню*/
padding: 0px 18px;
background-color: rgba(250, 251, 248, 0);

}

.sub-menu {      /*подменю*/
padding-top: 15px;
padding-bottom: 20px;
padding-left: 30px;
margin-top: 35px;
opacity: 0.9;
display: none;
position: absolute;
background-color: #1a1a1a;
}

.sub-menu li {
  display: block;
  width: 260px;
  margin-top: 20px;
  margin-left: 10;
  margin-bottom: 20px;
  margin-right: 20px;
}
.sub-menu a {
  color: #cccccc;
}
.all-menu li:hover .sub-menu {
  display: block;
}

.sub-menu li:hover {
  background-color: #007aec;
  
}
.all-menu .sub-menu li {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #cccccc;
}

.part1 {
  float: left;
  border-right: 1px solid #cccccc;
}
.part2 {
  display: inline-block;
  border-right: 1px solid #cccccc;
  padding-left: 20px;
}
#sub1 {
  margin-left: -180px;
}

/* линия 3 - черная полоса */

.black-line {
  width: 9600px;
  background-color: #1a1a1a;
  height: 10px;
  margin-top: -35px;
}

/*БЕЛЫЙ БЛОК - ЛИНИЯ 3*/

.white-menu {
  max-width: 100%;
  height: 62px;
  padding-top: 60px;
    border-bottom: 1px solid #777777;
    margin: 0px;

}
.white-menu a {
  color: #005db4;
  text-decoration: none;
  font: 13px 'Ubuntu';
}
.white-menu a+a {
  margin: 0 8px;
  color: #1a1a1a;
}
.white-menu a+a+a {
  margin: 0px;
  color: #1a1a1a;
}
.white-a {
  margin-top: 20px;
  padding-left: 163px;
 }
 /*общий блок*/

 .big-block {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 25px;
 }

/*ЛЕВЫЙ БЛОК*/
.left-block {
  width: 314px;
  margin-top: 32px;
  font: 15px 'Ubuntu';
   color: #777777;
   float: left;
   margin-right:  35px;
}
.left-block p {
  margin-bottom: 15px;
}
h3 {
 margin-bottom: 14px;
 margin-top: 0px;
 font: 20px 'Ubuntu';
 color: #464646;
}

 /*форма поиска*/

 .search-left { /*окно поиска*/
  border-radius: 2px;
  padding: 10px;
  height: auto;
  width: 314px;
  margin-right: 0px;
  background-color: #e5e5e5;
  border: 0px;
  color: #777777;
}
.submit-left {
padding: 11px;
margin-top: 5px;
color: #ffffff;
border-radius: 2px;
border: 0px;
background-color: #005db4;
font-size: 14px 'Ubuntu';
width: 314px;
}
/*МЕНЮ*/
.menu-categories ul {
margin-left: 0px;
padding-left: 0px;
}
.menu-categories ul li {
  list-style-type: none;
  width: 294px;
  height: 20px;
  padding: 10px;
  font: 14px 'Ubuntu';
  color: #777777;
  margin: 0px;
  border-radius: 2px;
}
.menu-categories a {
  float: right;
  font: 14px 'Ubuntu';
  color: #777777;
  text-decoration: none;
}
.menu-categories ul li:hover {
  background-color: #007aec;
  color: #ffffff;
}
.check-line input{
  width: 314px;
  background-color: #005db4;
}

.cost input {
background-color: #005db4;
width: 314px;
border: 0px;
border-radius: 2px;
color: #ffffff;
padding: 11px;
height: 53px;
}
.cost input:hover {
  background-color: #007aec;
}
.cost p {
  margin-left: 180px;
  margin-top: 0px;
  margin-bottom: 15px;
}
select {
  width: 313px;
  height: 28px;
  border: 1px solid #999999;
  border-radius: 2px;
  margin-bottom: 35px;
}
.popular ul li {
  height: 24px;
}
 ul {
  list-style-type: none;
  padding: 0px;
}
.popular a {
  font: 14px 'Ubuntu';
  color: #005db4;
}
.blue-li li {
 border-radius: 2px;
height: 28px;
vertical-align: middle;
margin: 2px;
}
.blue-li a:hover {
  background-color: #007aec;
  color: #005db4;
}

.blue-li-2 a:hover {
  background-color: #007aec;
  color: #005db4;
}

.blue-li a {
background-color: #005db4;
color: #ffffff;
font-size: 14px;
padding: 5px;
border: 1px solid #005db4;
padding-left: 5px;
border-radius: 2px;
text-decoration: none;

}
.blue-li-2 a {
background-color: #005db4;
color: #ffffff;
font-size: 14px;
padding: 8px;
border: 1px solid #005db4;
border-radius: 2px;
text-decoration: none;
display: inline-block;
float: left;
margin-right: 6px;
margin-top: 6px;
}

/*ПРАВЫЙ БЛОК*/

.big-block-right h4 {
  margin-top: 35px;
  margin-bottom: 0px;
  font: 30px 'Ubuntu';
  color: #000000;
  display: inline-block;
}
.big-block-right p {
  font: 15px 'Ubuntu';
  color: #777777;
  margin-bottom: 25px;
  margin-top: 15px;
  box-sizing: border-box;
}
.sel-container>select {
    color: #777777;
  font: 15px 'Ubuntu';
  width: 188px;
  background-color: #e5e5e5;
 height: 34px;
 border-radius: 2px;
 border: 1px solid #e5e5e5;
-webkit-appearance: none; /*удалена стрелочка*/
}
.sel-container {
  display: flex;
  justify-content: flex-end;
}
/*товары - правая часть*/
.prod-element {
  display: inline-block;
  padding: 10px 32.5px 10px 32.5px;
  margin-right: -4px;
  box-sizing: border-box;
}
.prod-element img {
  width: 214.55px;
  height: 214.55px;
  box-sizing: border-box;
  border-color: #ffffff;
}

.prod-element img:hover {
  opacity: 0.1;
}
.prod-element h3 {
  font: 26px 'Ubuntu';
  margin: 25px 0 30px;
  font-weight: 700;
  width: 214px;
  text-align: center;
  color: #333333;
  font-weight: 700px;
  text-transform: uppercase;
}
.prod-element a {
  text-decoration: none;

}
.cost-price {
  text-decoration: none;
  color: #005db4;
  margin: 15px 0 0 5px;
  padding: 8px;
  border: 1px solid #4ea9ff;
  border-radius: 2px;
}


.prod-element input {
  background-color: #005db4;
  width: 115px;
  height: 29px;
  padding: 11px;
 position: absolute;
 margin-left: -175.5px;
 margin-top: 163px;
 border: 0px;
 color: #ffffff;
 font: 14px solid 'Ubuntu';
 opacity: 0;
}
.prod-element img:hover+input {
opacity: 1;
}
.prod-element input:hover {
  opacity: 1;
  color: #1a1a1a;
}

.prod-element input: {
  padding: 8px;
  border: 1px solid #4ea9ff;
  border-radius: 2px;
  color: #005db4;
}
/* страницы линия */

.page-line {
  margin-left: 385px;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 50px;
}
.page-line span {
  padding: 6px 3px 6px 4px;
  text-align: center;
  background-color: #005db4;
  margin-right: 5px;
  color: #ffffff;
  width: 28px;
  height: 28px; 
  box-sizing: border-box;
  font: 15px 'Ubuntu';
}
.page-line a {
 padding: 6px 3px 6px 4px;
  text-align: center;
  background-color: #005db4;
  margin-right: 5px;
 width: 28px;
  height: 28px; 
background-color: #eeeeee;
color: #777777;
font: 15px 'Ubuntu';
box-sizing: border-box;
}

/*-- синяя линия get price */

.get-price {
  width: 100%;
  padding: 80px 0;
  background-color: blue;
  background: url(fon/bg-layer-02.png) #005db4 repeat 0 0;
  height: 40px;
  }

.get-price h3 {
  display: inline-block;
  width: 917px;
  padding-left: 15px;
  font: 24px 'Ubuntu';
  color: #ffffff;
}
.submit3 {
  color: #ffffff;
  background-color: #007aec;
  width: 198px;
  height: 46px;
  font: 18px'Ubuntu';
  font-weight: 800;
  border-radius: 2px;
  border: 1px solid #007aec;
  margin-left: 30px;
}
.price {
  max-width: 1166px;
  margin-right: auto;
  margin-left: auto;
}
.submit3:hover {
  /*ВСТАВИТЬ СТИЛИ ПРИ НАВЕДЕНИИ-----!!!!! */
}

  /*ПАНЕЛЬ FOOTER*/
/*линия 1 - меню 1*/
.f-line1 {
  background-color: #2e2e2e;
  width: 100%;
}

.footer-line1 {
  max-width: 1165px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 80px;
  }
  .footer-line1 span a {
color: #007aec;
  }
  .footer-line1 div {
  display: inline-block;
  height: 159px;
  margin: 0px;

  }
.footer-line1 a {
  color: #ffffff;
  font: 15px 'Ubuntu';
  text-decoration: none;
  padding: 5px;

}
.footer-line1 h3 {
  color: #ffffff;
  font: 16px 'Ubuntu';
  margin: 0 0 0 15px;
}
.catalog {
  width: 355px;
}
.delivery,.our-service {
  width: 354px;
  padding: 0 0 0 35px;
}
/* линия 2 - тонкая*/
.footer-line2 {
  width: 100%;
  height: 10px;
  background-color: #1a1a1a;
}
.footer-line3 {
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  background: #1a1a1a;
  height: 80px;
  margin-top: -155px;
  box-sizing: border-box;
}
.footer-line3 li {
  display: inline-block;
  height: 55px;
padding-top: 25px;
padding-left: 50px;
}
.footer-line3 a {
  width: 58px;
  height: 80px;
  padding: 0 18px;
  text-decoration: none;
  color: #cccccc;
  font: 15px 'Ubuntu';
  }
.footer-line3 li:hover {
  border-top: 5px solid #007aec;
}
.cash-box {
  
  margin-right: auto;
  margin-left: auto;
  max-width: 1130px;
  height: 118px;
  margin-top: 70px;
  }

.footer-line4 {
  border: 1px solid black;
  height: 196px;
  background-color: #000000;
  color: #777777;
  
} 
.footer-line4 p {
  display: inline-block;
  float: right;
color: #ffffff;
font: 15px 'Ubuntu';
font-weight: 800;
}
.footer-line4 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font: 15px 'Ubuntu';
}
