
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -900px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #4682B4;
  background: #FFFFE0;
  border-radius: 2px;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2714\0020';
  position: absolute;
  top: .15em; left: .10em;
  font-size: 1.3em;
  line-height: 0.5;
  color: #09ad7e;
   font-family: Verbana, Arial;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
 
}